{% extends "base.html" %}
{% block content %}


<section class="achievements-page">
  <h1 class="page-title">🌟 My Achievements</h1>
  <p class="section-description">
  This space highlights my learning journey — from completing hands-on courses to consistently sharpening my skills through coding practice. Each certificate and badge represents a step forward, a new challenge accepted, and a passion for growing as a full-stack developer. Whether it's backend logic or frontend design, I believe in learning by doing — and these achievements tell that story.
</p>
<div class="achievements-container">
<!-- Certificates Section -->
    <div class="achievement-card">
      <h2>📜 Course Certificates</h2>
      <div class="items-grid">
         <div class="item">
          <img src="{{ url_for('static', filename='images/certificate6.png') }}" alt="Certificate 3">
          <p>Privacy and Security in Online Social Media-NPTL</p>
          <a href="{{ url_for('static', filename='images/certificate6.png') }}" class="btn-view" target="_blank">View</a>
        </div>

        <div class="item">
          <img src="{{ url_for('static', filename='images/certificate8.png') }}" alt="Certificate 3">
          <p>Object Oriented System Development-NPTL</p>
          <a href="{{ url_for('static', filename='images/certificate8.png') }}" class="btn-view" target="_blank">View</a>
        </div>

        <div class="item">
          <img src="{{ url_for('static', filename='images/certificate1.png') }}" alt="Certificate 1">
          <p>Web Development Bootcamp - Udemy</p>
          <a href="{{ url_for('static', filename='images/certificate1.png') }}" class="btn-view" target="_blank">View</a>
        </div>

        <div class="item">
          <img src="{{ url_for('static', filename='images/certificate2.png') }}" alt="Certificate 2">
          <p>Python Foundation  - Infosys Springboard</p>
          <a href="{{ url_for('static', filename='images/certificate2.png') }}" class="btn-view" target="_blank">View</a>
        </div>

        <div class="item">
          <img src="{{ url_for('static', filename='images/certificate10.png') }}" alt="Certificate 3">
          <p>GoogleCybersecurity-Coursera</p>
          <a href="{{ url_for('static', filename='images/certificate10.png') }}" class="btn-view" target="_blank">View</a>
        </div>

        <div class="item">
          <img src="{{ url_for('static', filename='images/certificate3.png') }}" alt="Certificate 3">
          <p> Basic Of Python- Infosys Springboard</p>
          <a href="{{ url_for('static', filename='images/certificate3.png') }}" class="btn-view" target="_blank">View</a>
        </div>

        <div class="item">
          <img src="{{ url_for('static', filename='images/certificate4.png') }}" alt="Certificate 3">
          <p>High Impact Presentation - Infosys Springboard</p>
          <a href="{{ url_for('static', filename='images/certificate4.png') }}" class="btn-view" target="_blank">View</a>
        </div>

        <div class="item">
          <img src="{{ url_for('static', filename='images/certificate5.png') }}" alt="Certificate 3">
          <p>SQL and Realtional Databases-Cognitive Class Ai </p>
          <a href="{{ url_for('static', filename='images/certificate5.png') }}" class="btn-view" target="_blank">View</a>
        </div>

       


        <div class="item">
          <img src="{{ url_for('static', filename='images/certificate7.png') }}" alt="Certificate 3">
          <p>Introduction to PHP-Simplilearn</p>
          <a href="{{ url_for('static', filename='images/certificate7.png') }}" class="btn-view" target="_blank">View</a>
        </div>


        

        <div class="item">
          <img src="{{ url_for('static', filename='images/certificate9.png') }}" alt="Certificate 3">
          <p>Email Writing -Infosys Springboard</p>
          <a href="{{ url_for('static', filename='images/certificate9.png') }}" class="btn-view" target="_blank">View</a>
        </div>

        
      </div>
    </div>

    <!-- Badges Section -->
    <div class="achievement-card">
      <h2>👨‍💻 Coding Practice</h2>
      <div class="items-grid">
        <div class="item">
          <img src="{{ url_for('static', filename='images/badge1.png') }}" alt="Badge 1">
          <p>Bronze Streak Badge - CodeChef</p>
          <a href="{{ url_for('static', filename='images/badge1.png') }}" class="btn-view" target="_blank">View</a>
        </div>

        <div class="item">
          <img src="{{ url_for('static', filename='images/badge2.png') }}" alt="Badge 2">
          <p>Silver Streak Badge - CodeChef</p>
          <a href="{{ url_for('static', filename='images/badge2.png') }}" class="btn-view" target="_blank">View</a>
        </div>

        <div class="item">
          <img src="{{ url_for('static', filename='images/badge3.png') }}" alt="Badge 3">
          <p>Gold Streak Badge - CodeChef</p>
          <a href="{{ url_for('static', filename='images/badge3.png') }}" class="btn-view" target="_blank">View</a>
        </div>

        <div class="item">
          <img src="{{ url_for('static', filename='images/badge4.png') }}" alt="Badge 3">
          <p>Python Online Test - CodeChef</p>
          <a href="{{ url_for('static', filename='images/badge4.png') }}" class="btn-view" target="_blank">View</a>
        </div>

        
        <div class="item">
          <img src="{{ url_for('static', filename='images/badge6.png') }}" alt="Badge 3">
          <p>50 Problems on CodeChef - CodeChef</p>
          <a href="{{ url_for('static', filename='images/badge6.png') }}" class="btn-view" target="_blank">View</a>
        </div>

      <div class="item">
          <img src="{{ url_for('static', filename='images/badge7.jpg') }}" alt="Badge 3">
          <p> SQL Online Test – Completed on CodeChef </p>
          <a href="{{ url_for('static', filename='images/badge7.jpg') }}" class="btn-view" target="_blank">View</a>
        </div>
        <div class="item">
          <img src="{{ url_for('static', filename='images/badge5.png') }}" alt="Badge 3">
          <p> CSS - HackerRank</p>
          <a href="{{ url_for('static', filename='images/badge5.png') }}" class="btn-view" target="_blank">View</a>
        </div>

        <div class="item">
          <img src="{{ url_for('static', filename='images/badge8.png') }}" alt="Badge 3">
          <p>250 Problems on CodeChef - CodeChef</p>
          <a href="{{ url_for('static', filename='images/badge8.png') }}" class="btn-view" target="_blank">View</a>
        </div>

   </div>
    </div>
  </div>
</section>
<div id="popup" class="popup-overlay">
  <span class="close-btn" onclick="closePopup()">×</span>
  <img id="popup-img" src="" alt="Popup Preview" />
</div>
{% endblock %}
