{% extends "base.html" %}
{% block content %}

<h2 class="section-title">Showcasing My Work</h2>

<div class="project-wrapper">
  <div class="project-container">

    <div class="project-card">
      <img src="{{ url_for('static', filename='images/project1.png') }}" alt="recommendation">
      <h3><i class="fas fa-tooth text-info"></i> Morton Dental Website</h3>
      <div class="project-buttons">
        <a href="https://github.com/Smuktha/mortondental" target="_blank" class="btn btn-github">GitHub</a>
        <a href="https://www.mortondental.com.au/" target="_blank" class="btn btn-live">Live Demo</a>
      </div>
    </div>

    <div class="project-card">
      <img src="{{ url_for('static', filename='images/recommendation.png') }}" alt="recommendation">
      <h3>🎬 Movie Recommender System</h3>
      <div class="project-buttons">
        <a href="https://github.com/shipali-k-account/Movie_Recommender_Project" target="_blank" class="btn btn-github">GitHub</a>
        <a href="https://movie-recommender-project-8lm9.onrender.com/" target="_blank" class="btn btn-live">Live Demo</a>
      </div>
    </div>

    <div class="project-card">
      <img src="{{ url_for('static', filename='images/review.jpg') }}" alt="recommendation">
      <h3>🏨 Lodge Review System</h3>
      <div class="project-buttons">
        <a href="https://github.com/shipali-k-account/lodge_review/blob/main/qr_code.png" target="_blank" class="btn btn-github">GitHub</a>
        <a href="https://lodge-review.onrender.com" target="_blank" class="btn btn-live">Live Demo</a>
      </div>
    </div>

    <div class="project-card">
      <img src="{{ url_for('static', filename='images/gill.png') }}" alt="recommendation">
      <h3>🚀 My First Blog Project</h3>
      <div class="project-buttons">
        <a href="https://github.com/shipali-k-account/Shubman_Gill_Blog" target="_blank" class="btn btn-github">GitHub</a>
        <a href="https://shubman-gill-blog-qk7b.onrender.com/" target="_blank" class="btn btn-live">Live Demo</a>
      </div>
    </div>

  <div class="project-card">
      <img src="{{ url_for('static', filename='images/photo.png') }}" alt="Restaurant">
      <h3>🍽️ Responsive Restaurant Website</h3>
      <a href="https://github.com/shipali-k-account/PRODIGY_WD_01" target="_blank" class="project-link">Project Overview</a>
    </div>

    
    <div class="project-card">
      <img src="{{ url_for('static', filename='images/Nature.png') }}" alt="nature">
      <h3>🌿 Nature-Themed Photo Gallery</h3>
      <a href="https://github.com/shipali-k-account/Nature-Themed-Photo-Gallery-" target="_blank" class="project-link">Project Overview</a>
    </div>

  <div class="project-card">
    <img src="{{ url_for('static', filename='images/weather.png') }}" alt="Weather">
    <h3>🌦️ State-Based Weather App</h3>
    <a href="https://github.com/shipali-k-account/PRODIGY_WD_05" target="_blank" class="project-link">Project Overview</a>
  </div>

    
    <div class="project-card">
      <img src="{{ url_for('static', filename='images/home.png') }}" alt="Student">
      <h3>📘 Student Management System</h3>
      <a href="https://github.com/shipali-k-account/Student-Management-System" target="_blank" class="project-link">Project Overview</a>
    </div>

    
    <div class="project-card">
      <img src="{{ url_for('static', filename='images/stopwatch.png') }}" alt="watch">
      <h3>⏱️ Stopwatch Web Application</h3>
      <a href="https://github.com/shipali-k-account/PRODIGY_WD_02" target="_blank" class="project-link">Project Overview</a>
    </div>

    
    <div class="project-card">
      <img src="{{ url_for('static', filename='images/Tic-Tac-Toe.png') }}" alt="game">
      <h3>🎮 Tic-Tac-Toe Game</h3>
      <a href="https://github.com/shipali-k-account/PRODIGY_WD_03" target="_blank" class="project-link">Project Overview</a>
    </div>
     
    <div class="project-card">
    <img src="{{ url_for('static', filename='images/ATMenu.png') }}" alt="ATM">
    <h3>🏧 ATM Simulator</h3>
    <a href="https://github.com/shipali-k-account/ATM-Simulator" target="_blank" class="project-link">Project Overview</a>
  </div>



  </div>
</div>

{% endblock %}
